/* CSS Variables */
:root {
  --primary-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --primary-dark-color: #2e2f42;
  --primary-light-color: #ffffff;
  --second-light-color: #f4f4fd;
  --third-ligth-color: #e7e9fc;
  --second-primary-color: #2e2f42;
  --color-text: #434455;
  --corp-color: #4d5ae5;
  --corp-color-hover: #404bbf;
  --success-color: #31D0AA;
}

/* Reset */
body {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  background: var(--primary-light-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style-type: none;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-bottom: 120px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-dark-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-banner-title,
.section-title,
.section-sub-title {
  text-align: center;
}

.section-sub-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-dark-color);
}

.logo {
  font-family: var(--title-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--corp-color);
  display: inline-block;
}

.logo-acent {
  color: var(--primary-dark-color);
}

.button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms ease;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-banner-button {
  background-color: var(--corp-color);
  color: var(--primary-light-color);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--corp-color-hover);
}

/* style for header */

.header {
  background-color: var(--primary-light-color);
  border-bottom: 1px solid var(--third-ligth-color);
}

.header-wrap {
  display: flex;
  justify-content: space-between;
}

.header .link {
  padding: 24px 0;
  display: block;
}

.header .logo {
  margin-right: 76px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-list-item,
.header-address-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-list-item {
  position: relative;
  font-weight: 500;
  color: var(--primary-dark-color);
  transition: color 250ms ease;
  -webkit-transition: color 250ms ease;
  -moz-transition: color 250ms ease;
  -ms-transition: color 250ms ease;
  -o-transition: color 250ms ease;
}

.header-list-item:after {
  content: '';
  position: absolute;
  background-color: transparent;
  border-radius: 2px;
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: background-color 250ms ease;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.header-list-item:hover:after,
.header-list-item:focus:after {
  background-color: var(--corp-color-hover);

}

.header-list-item:hover,
.header-list-item:focus {
  color: var(--corp-color-hover);
}

.header-address {
  font-style: normal;
}

.header-address-item {
  color: var(--color-text);
  transition: color 250ms ease;
}

.header-address-item:hover,
.header-address-item:focus {
  color: var(--corp-color-hover);
}

/* style for foter */
.footer {
  background-color: var(--second-primary-color);
  color: var(--second-light-color);
  padding: 100px 0 100px;
}

.footer .logo-acent {
  color: var(--second-light-color);
}

.footer .main-text {
  max-width: 264px;
}

.footer .logo {
  margin-bottom: 16px;
}

.footer-wrap {
  display: flex;
  gap: 120px;
}

.footer-wrap .icon-list {
  margin-top: 16px;
}

.social-wrap-title {
  font-weight: 500;
}

/* section main-banner  */
.main-banner {
  background: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url('./../images/people-office.jpg');
  background-repeat: no-repeat;
  padding: 188px 0 188px;
  background-size: cover;
}

.main-banner-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--primary-light-color);
  max-width: 496px;
  margin: 0 auto;
}

.main-banner-button {
  margin: 48px auto 0;
  display: block;
  padding: 16px 32px;
  border: none;
  min-width: 169px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition-delay: 500ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -70%);
  -webkit-transform: translate(-50%, -70%);
  -moz-transform: translate(-50%, -70%);
  -ms-transform: translate(-50%, -70%);
  -o-transform: translate(-50%, -70%);
  opacity: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.40);
  transition: opacity 250ms ease;
  -webkit-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  -ms-transition: opacity 250ms ease;
  -o-transition: opacity 250ms ease;
}

.modal {
  border-radius: 4px;
  background-color: #FCFCFC;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 517px;
  min-height: 794px;
  opacity: 1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: transform 250ms ease, opacity 250ms ease;
  -webkit-transition: transform 250ms ease, opacity 250ms ease;
  -moz-transition: transform 250ms ease, opacity 250ms ease;
  -ms-transition: transform 250ms ease, opacity 250ms ease;
  -o-transition: transform 250ms ease, opacity 250ms ease;
}

.modal-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--third-ligth-color);
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #D0D2E3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms ease, background-color 250ms ease;
  -webkit-transition: border 250ms ease, background-color 250ms ease;
  -moz-transition: border 250ms ease, background-color 250ms ease;
  -ms-transition: border 250ms ease, background-color 250ms ease;
  -o-transition: border 250ms ease, background-color 250ms ease;
}

.modal-btn svg {
  fill: #2E2F42;
}

.modal-btn:focus,
.modal-btn:hover {
  border: 1px solid var(--corp-color-hover);
  background-color: var(--corp-color-hover);
}

.modal-btn:focus svg,
.modal-btn:hover svg {
  fill: #fff;
}

/* section studio */
.studio {
  padding: 120px 0;
}

.studio-list {
  display: flex;
  gap: 24px;
}

.studio-list-item {
  width: calc((100% - 24px * 3)/4);
}

.studio-list-item .section-sub-title {
  margin-bottom: 8px;
  text-align: left;
}

.studio-list-icon {
  background-color: var(--second-light-color);
  border-radius: 4px;
  padding: 24px 0;
  text-align: center;
  margin-bottom: 8px;
}

/* section portfolio */

.portfolio .section-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 24px;
}

/* section contacts */
.contacts {
  background-color: var(--second-light-color);
  padding: 120px 0;
}

.contacts .section-title {
  margin-bottom: 72px;
}

.contacts-list {
  display: flex;
  gap: 24px;
}

.contacts-item {
  text-align: center;
  background: var(--primary-light-color);
  border-radius: 0px 0px 4px 4px;
}

.contacts-list-info {
  padding: 32px 0;
  background: var(--white, #FFF);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.contacts-list-info .section-sub-title {
  margin-bottom: 8px;
}

.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--corp-color);
  color: var(--primary-light-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: background-color 250ms ease;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-link:focus,
.icon-link:hover {
  background-color: var(--success-color);
}

.icon-link svg {
  fill: currentColor;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-top: 8px;
}

/* section customers */
.customers {
  padding-top: 120px;
}

.customers-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

.customers-item {
  border-radius: 4px;
  border: 1px solid #8E8F99;
  width: calc((100% - 24px * 5)/6);
  display: flex;
  justify-content: center;
  padding: 15px 0;
  cursor: pointer;
  color: #8E8F99;
  transition: border 250ms ease, color 25ms ease;
  -webkit-transition: border 250ms ease, color 25ms ease;
  -moz-transition: border 250ms ease, color 25ms ease;
  -ms-transition: border 250ms ease, color 25ms ease;
  -o-transition: border 250ms ease, color 25ms ease;
}

.customers-item svg {
  fill: currentColor;
  transition: border 250ms ease,
}

.customers-item:focus,
.customers-item:hover {
  border: 1px solid var(--corp-color-hover);
  color: var(--corp-color-hover);
}

/* section portfolio-page */
.portfolio-page {
  padding-top: 96px;
}

.portfolio-page-item .section-sub-title {
  text-align: left;
}

.filter {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.filter-button {
  background: var(--second-light-color);
  color: var(--corp-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid var(--third-ligth-color);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.filter-button:hover,
.filter-button:focus {
  background: var(--corp-color-hover);
  color: var(--primary-light-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.10);
  border: 1px solid transparent;
}

.portfolio-page-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-page-item {
  width: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms ease;
  -webkit-transition: box-shadow 250ms ease;
  -moz-transition: box-shadow 250ms ease;
  -ms-transition: box-shadow 250ms ease;
  -o-transition: box-shadow 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-page-item-info {
  padding: 32px 16px;
  background: var(--white, #FFF);
  border: 1px solid var(--third-ligth-color);
  border-top: none;
}

.portfolio-page-item-info .section-sub-title {
  margin-bottom: 8px;
}

.item-img-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--corp-color);
  padding: 40px 32px;
  height: 100%;
  color: var(--primary-light-color);
  transition: transform 250ms ease;
  -webkit-transition: transform 250ms ease;
  -moz-transition: transform 250ms ease;
  -ms-transition: transform 250ms ease;
  -o-transition: transform 250ms ease;
  transform: translatey(100%);
  -webkit-transform: translatey(100%);
  -moz-transform: translatey(100%);
  -ms-transform: translatey(100%);
  -o-transform: translatey(100%);
}

.portfolio-page-item:hover,
.portfolio-page-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-page-item:hover .portfolio-page-overlay,
.portfolio-page-item:focus .portfolio-page-overlay {
  transform: translatey(0%);
  -webkit-transform: translatey(0%);
  -moz-transform: translatey(0%);
  -ms-transform: translatey(0%);
  -o-transform: translatey(0%);
}